*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/gradle
/assets
build/
app/build/
.env.example
app-ads.txt
settings.gradle.kts
metadata.json
gradle.properties
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
.build-outputs/
app/src/main/java/com/kcmitch/v2p/config/AppConfig.kt
app/src/main/java/com/kcmitch/v2p/settings/AppConfig.kt
app/src/main/java/com/kcmitch/v2p/thirdParty/AppConfig.kt
app/proguard-rules.pro
app/google-services.json
app/build.gradle.kts
app/.gitignore
app/gradle
